<section class="section-admin" id="secao2">
    <div class="lista-info-usuario">
        <span class="span-selecione conteudo-site">Selecione:</span>
        <div class="user-opcao-lista" id="usuariosLista">
            <div class="opcao-lista conteudo-site"> Simone</div>
            <div class="opcao-lista conteudo-site"> Carol</div>
            <div class="opcao-lista conteudo-site"> Sol</div>
        </div>
    </div>

    <div class="form-container">
        <div class="form-cabecalho">
            <img class="user-foto" src="/img/user-default.png" alt="Foto do admin">
            <h2 class="conteudo-site">Simone</h2>
        </div>

        <form>
            <div class="form-grid">
                <div class="label-input conteudo-site">
                    <label>Nome:</label>
                    <input type="text">
                </div>

                <div class="label-input conteudo-site">
                    <label>Senha:</label>
                    <input type="text">
                </div>

                <div class="label-input conteudo-site">
                    <label>E-mail:</label>
                    <input type="email">
                </div>
            </div>

            <div class="form-buttons">
                <button type="button" class="edit-btn conteudo-site">Editar</button>
                <button type="button" class="delete-btn conteudo-site">Excluir</button>
            </div>
        </form>
    </div>
</section>