<section class="section-voluntarios" id="secao4">
    <div class="lista-info-usuario">
        <span class="span-selecione conteudo-site">Selecione:</span>
        <div class="user-opcao-lista" id="usuariosLista">
            <div class="opcao-lista conteudo-site"> Voluntário 1</div>
            <div class="opcao-lista conteudo-site"> Voluntário 2</div>
            <div class="opcao-lista conteudo-site"> Voluntário 3</div>
            <div class="opcao-lista conteudo-site"> Voluntário 4</div>
            <div class="opcao-lista conteudo-site"> Voluntário 5</div>
        </div>
    </div>

    <div class="form-container">
        <div class="form-cabecalho">
            <h2 class="conteudo-site">Voluntário</h2>
        </div>

        <form>
            <div class="form-grid">
                <div class="label-input conteudo-site">
                    <label>Nome completo:</label>
                    <input type="text">
                </div>

                <div class="label-input conteudo-site">
                    <label>CPF:</label>
                    <input type="text">
                </div>

                <div class="label-input conteudo-site">
                    <label>E-mail:</label>
                    <input type="email">
                </div>

                <div class="label-input conteudo-site">
                    <label>Telefone:</label>
                    <input type="email">
                </div>

                <div class="label-input conteudo-site">
                    <label>Como quer ajudar:</label>
                    <input type="email">
                </div>

                <div class="label-input conteudo-site">
                    <label>Outro tipo de ajuda:</label>
                    <input type="email">
                </div>
            </div>

            <div class="form-buttons">
                <button type="button" class="edit-btn conteudo-site">Aceitar</button>
                <button type="button" class="delete-btn conteudo-site">Recusar</button>
            </div>
        </form>
    </div>
</section>