* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/ess_azul_bckg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-cadastrar {
    background-color: white;
    padding: 20px;
    width: 440px;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
}

#logo-topo {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 190px;
}

#logo-topo img {
    width: 50px;
}

#logo-topo p {
    font-family: 'Montserrat';
    font-size: 13.5px;
    font-weight: 800;
    color: #1535b5ce;
}

#campos {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-top: 18px;
    font-family: 'Montserrat';
    width: 100%;
}

#campos h1 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

#info-cad-responsivo {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

form div {
    width: 90%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: 500;
    color: #000000a0;
    padding: 18px 26px;
    position: absolute;
    transition: all 0.2s;
    pointer-events: none;
}

.mover {
    font-size: 13px;
    transform: translateY(-12px);
}

input {
    width: 88%;
    height: 43px;
    background-color: #f3f3f3;
    border: solid 2px rgb(214, 214, 214);
    border-radius: 0.4rem;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 10px;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Montserrat';
    color: #000000c9;
    outline: none;
    align-self: center;
    transition: all 0.3s;
}

#campo3 {
    letter-spacing: 3px;
}

input:focus {
    border: solid 2px #1283e6d6;
}

#link-button {
    align-self: center;
    text-decoration: none;
    width: 86%;
}

button {
    background-color: #1535B5;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    height: 40px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #142e96;
    color: white;
}

#voltar {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-direction: row;
    text-decoration: none;
    color: #0000008b;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 768px) {
    .box-cadastrar {
        width: 85%;
    }
    #campos h1 {
        font-size: 0;
        margin-bottom: 7px;
    }
    #campos h1::after {
        font-size: 35px;
        content: "Cadastrar";
    }
    #info-cad-responsivo {
        display: flex;
        margin-bottom: 25px;
        font-weight: 600;
        color: #000000a2;
        width: 70%;
        text-align: center;
    }
    label {
        padding: 22px 10px;
        font-size: 20px;
    }
    .mover {
        font-size: 15px;
        padding: 18px 10px;
    }
    input {
        width: 95%;
        height: 52px;
        font-size: 20px;
    }
    #link-button {
        width: 94%;
    }
    button {
        height: 100%;
        padding: 10px 0px;
        font-size: 18px;
    }
}