* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.voltar-div {
    position: absolute;
    top: 20px;
    left: 20px;
}

.voltar-div:hover {
    color:#0033CC;
    cursor: pointer;
}

.voltar {
    color: #002293;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
    font-size: 18px;
    transition: color 0.3s;
}

.voltar:hover {
    color: #0033CC;
}

.container {
    background-color: #8ec1e437;
    padding: 20px;
    border-radius: 10px;
    max-width: 850px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #002293;
}

.form-container {
    display: flex;
    gap: 20px;
}

.coluna {
    flex: 1;
}

.label-input {
    margin-bottom: 12px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    height: 80px;
}

.label-input {
    margin-bottom: 20px;
}

.label-input > label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
}

.radio {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.radio input[type="radio"] {
    display: none;
}

.radio label {
    padding: 6px 16px;
    border: 2px solid #a0a0a0;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.95rem;
    color: #a0a0a0;
    user-select: none;
    font-weight: 500;
}

.radio input[type="radio"]:checked + label {
    background-color: #1535B5;
    border: 2px solid #1535B5;
    color: white;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #0033cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #002299;
}

@media (max-width: 1024px) {
    .container {
        padding: 20px;
        margin: 20px;
    }
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .voltar-div {
        position: relative;
        margin-bottom: 20px;
        text-align: left;
        width: 100%;
    }

    h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 15px;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    input, select, textarea {
        font-size: 0.95rem;
        padding: 8px;
    }

    .radio label {
        font-size: 0.85rem;
        padding: 5px 12px;
    }

    .voltar {
        font-size: 16px;
    }

    button {
        width: 100%;
        padding: 12px;
    }
}