* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('../img/ess_azul_bckg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-nhm-solic-receb {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  grid-column: 2;
}

.section-nhm-solic-receb img {
  width: 320px;
  height: 300px;
}

.section-nhm-solic-receb p {
  margin-top: 30px;
  text-align: center;
}

.duvidas-div {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  width: 80%;
  max-width: 1000px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 5px 15px 0px;
}

.div-cabecalho h2 {
  color: #0033CC;
  text-align: center;
  margin-bottom: 30px;
}

.div-corpo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.div-corpo {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  color: black;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #6e84ff86;
  box-shadow: rgba(0, 0, 0, 0.073) 0px 5px 15px 0px;
}

.info label {
  font-weight: bold;
  font-size: 14px;
  color: #0a1f74;
}

.area-info {
  background-color: #f6f6f6;
  border: solid 2px rgb(225, 224, 224);
  border-radius: 0.2rem;
  padding: 4px 6px;
}

.coment {
  height: 70px;
  max-height: 70px;
  overflow-y: auto;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-excluir {
  text-decoration: none;
  color: #737373;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-excluir:hover {
  color: #ff0000;
  transform: scale(1.3);
}

/* Botão voltar */
.voltar-div {
  position: absolute;
  top: 20px;
  left: 20px;
}

.voltar {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  font-size: 18px;
  transition: color 0.3s;
}

.voltar:hover {
  color: #0033CC;
}

#data {
  color: #0a1f74;
}

@media (max-width: 768px) {
  .div-corpo-grid {
    flex-wrap: wrap;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
}

@media (max-width: 480px) {

    .voltar {
        font-size: 16px;
    }
}