* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('../img/ess_azul_bckg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nhm-opc-selec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nhm-opc-selec img {
  width: 300px;
  height: 300px;
}

.duvidas-div {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    width: 80%;
    max-width: 1000px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px 0px;
}

.div-cabecalho h2 {
    color: #0033CC;
    text-align: center;
    margin-bottom: 30px;
}

.div-corpo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.div-corpo {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    color: black;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #6e84ff;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px 0px;
}

.info label {
    font-weight: bold;
    font-size: 14px;
}

.area-info {
    background-color: #f3f3f3;
    border: solid 2px rgb(214, 214, 214);
    border-radius: 0.2rem;
    padding: 4px 6px;
}

/* Botão voltar */
.voltar-div {
    position: absolute;
    top: 20px;
    left: 20px;
}

.voltar {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  font-size: 18px;
  transition: color 0.3s;
}

.voltar:hover {
  color: #0033CC;
}
