* {
    font-family: 'Montserrat';
    padding: 0;
}
#section1 {
    background: url('/img/docBanner1.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding-top: 2em;
    height: 500px;
}
#section1 div h1 {
    color: #FDFBD6;
    font-size: 35px;
    font-weight: 700;
    margin-top: 180px;
    text-align: center;
    text-shadow: 1px 2px 2px black;
}
#section2{
    margin-bottom: 150px;
}
#section2 .box{
    background-color: #fdfbd6fd;
    margin: 30px;
    padding: 18px;
    border-radius: 7px;
    width: 50%;
}
#section2 p{
    margin: 15px;
    text-align: justify;
    font-size: 18px;
}
#section2 #imgSec2{
    float: right;
    margin-right: 120px;
}
#section2 img{
    width: 360px;
    height: 367px;
}
#section3 .box2{
    width: 40%;
    float: right;
    padding: 10px;
    margin-right: 90px;
}
#section3 h2{
    color:#1535B5;
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
}
#section3 p{
    font-size: 20px;
    text-align: justify;
}
#section3 img{
    width: 600px;
    height: 380px;
    margin: 30px;
}