*{
    margin: 0;
    padding: 0;
}

section{
    background-color: #ADE1FF;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
}

#formularios{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

#descricao{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    padding-top: 30px;
    width: 580px;
    text-align: justify;
    gap: 25px;
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#logo-topo{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 190px;
}

#logo-topo img{
    width: 50px;
}

#logo-topo p{
    font-family: 'Montserrat';
    font-size: 13.5px;
    font-weight: 800;
    color: #1535b5ce;
}

#descricao h1{
    align-self: center;
    font-size: 27px;
    font-weight: 600;
}

.caixas{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    width: 580px;
    padding: 40px;
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.caixas h2{
    font-size: 17px;
    font-weight: 550;
}

.div-maior-input-radio{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.div-menor-input-radio{
    display: flex;
    align-items: center;
}

.caixas div input{
    width: 40px;
}

#nome-escola{
    width: 97%;
    margin: 10px 0;
}

input{
    width: 560px;
    background-color: rgb(237, 237, 237);
    height: 23px;
    padding: 8px;
    border: 2px solid rgb(195, 195, 195);
    border-radius: 0.2rem;
    align-self: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.781);
    font-family: 'Montserrat';
    font-weight: 500;
}

select{
    width: 580px;
    background-color: rgb(237, 237, 237);
    padding: 8px;
    border: 2px solid rgb(195, 195, 195);
    border-radius: 0.2rem;
    align-self: center;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.radio {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.radio input[type="radio"] {
    display: none;
}

.radio label {
    padding: 6px 16px;
    border: 2px solid #a0a0a0;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.95rem;
    color: #a0a0a0;
    user-select: none;
    font-weight: 500;
}

.radio input[type="radio"]:checked + label {
    background-color: #1535B5;
    border: 2px solid #1535B5;
    color: white;
}

textarea{
    width: 560px;
    background-color: rgb(237, 237, 237);
    height: 120px;
    padding: 8px;
    border: 2px solid rgb(195, 195, 195);
    border-radius: 0.2rem;
    align-self: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.781);
    font-family: 'Montserrat';
    font-weight: 500;
    resize: none;
}

button{
    width: 200px;
    height: 45px;
    background-color: #1535B5;
    font-family: "Montserrat";
    color: white;
    font-weight: 600;
    font-size: 17px;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover{
    background-color: #142e96;
}

@media (max-width: 768px) {
    section{
        width: 90%;
    }
    #formularios{
        width: 100%;
    }
    #descricao{
        width: 80%;
    }
    .caixas{
        width: 80%;
    }
    input{
        width: 100%;
    }
    select{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
}