*{
  margin: 0;
  padding: 0;
}

/* section 1 */
/* animação */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: rgb(6, 17, 62);
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 30%;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 45vmin;
}
.text-top, .text-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 6vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 0.5vmin solid rgb(6, 17, 62);
  ;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 0.8s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.8s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
/* fim animação */
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    text-align: center;
}
#secao1 {
    position: relative;
    background: #cce5ff;
    padding: 150px 0 200px 0;

}
.galeria {
    padding: 20px;
}
#sobre{
    color: rgb(6, 17, 62);
    font-family: var(--font-text);
    right: 55%;
    left: 15%;
    position: absolute;
    top: 55%;
    font-size: 20px;
    font-weight: 100;

}
#sobre:first-of-type, #secao1 h1:first-of-type{    
    animation: showup 19s forwards;
}
@keyframes showup {
    0% {opacity:0;}
    8% {opacity:0;}
    18% {opacity:1;}

}
#logo{
    width: 15%;
    right: 15%;
    left: 60%;
    position: absolute;
    top: 15%;
}
/* fim section 1 */
/* secão 2 */

/* fim secão 2 */
/* secão 3 */


@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

#secao3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(279px, 1fr));
  place-items: center;
  padding: 4% 10%;
}

:root {
  /* Colors */
  --brand-color: hsl(46, 100%, 50%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

.card__title {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: white;
  line-height: 0.3;
}

.card__description {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  color: white;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.card {
  display: grid;
  place-items: center;
  width: 279px;
  max-width: 21.875rem;
  height: 345px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((2rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: black;
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 200ms ease-out;
    transition-delay: 200ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 500ms ease-in, transform 200ms ease-out;
    transition-delay: 200ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container > :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container > :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}
/* fim secão 3 */
/* secão 4 */
#secao4 {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    overflow: hidden;
}

.texto {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    
}

.linha {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 90%;
    background-color: #0033cc;
    border-radius: 10px;
}

#entenda {
    font-size: 230%;
    margin-bottom: 15px;
    width: 43%;
    margin-left: 20%;
}

.botao {
    background-color: #0033cc;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 20%;
}


.imagem img {
    margin-left: 85px;
    width: 95%;
    height: 290px;
    display: block;
}
/* fim secão 4 */
/* seção 5 */
.quadrado{
  position: absolute;
  z-index: 1;
}
.objmeto{
  width: 350px;
  
}
.imgQuadrado{
  position: absolute;
  z-index: 2;
}
#secao5{
  position: relative;
  height: 1000px;
}
.textObjmeto{
  position: absolute;
  width: 34%;
  font-size: 20px;
  text-align: justify;
}
.titleObjmeto{
  position: absolute;
  font-size: 26px;
  color: #0033cc;
}
.obj{
  left: 18%;
  top: 15%;
}
.textObj{
  left: 53%;
  top: 25%;
}
.titleObj{
  left: 53%;
  top: 18%;
}
.meto{
  left: 30%;
  top: 78%;
  transform: translate(-50%, -50%);
}
.textMeto{
  left: 53%;
  top: 70%;
}
.titleMeto{
  left: 53%;
  top: 63%;
}
#linhaLateral{
  position: absolute;
  left: 10%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 85%;
  background-color: #0033cc;
  border-radius: 10px;
}
#t1{
  position: absolute;
  left: 13%;
  top: 15%;
  font-weight: bold;
  color: rgb(40, 40, 185);
}
#t2{
  position: absolute;
  left: 13%;
  top: 60%;
  font-weight: bold;
  color: rgb(40, 40, 185);
}
/* fim seção 5 */
/* secao 6 */
#secao6 {
  display: flex;
  align-items: center;
  background-color: #e8ca1f;
  overflow: hidden;
  margin-top: 190px;
  height: 222px;
  position: relative;
  overflow: visible;
}

.texto2 {
  margin-left: 500px;
}



#textoAjuda {
  font-size: 150%;
  margin-bottom: 35px;
  width: 100%;
}
#tituloAjuda {
  font-size: 230%;
  margin-top: 0;
  margin-bottom: 0;
}

#menino{
  width: 330px;
  position: absolute;
  bottom: 0;
  margin-left: 8%;
}
.botao2 {
  background-color: rgb(0, 41, 177);
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
/* fim secao 6 */
/* secão 7 */
#quebraCabeca{
  margin: 100px auto;
  width: 100%;
}
#apoiadores {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: white;
  row-gap: 16px; 
  column-gap: 8px;
  margin-bottom: 20px;
}
.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 2px solid rgb(0, 41, 177);
  color:rgb(0, 41, 177);
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  transform: skewX(-15deg);
  height: 50px;
  white-space: pre;
}

#textApoiadores{
  font-size: 35px;
  font-family: 'Montserrat';
}
.arrow {
  font-size: 50px;
}

.cardsApoiadores {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 80px;
}
.apoiador {
  width: 250px;
  background: white;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 300px;
  position: relative;
}
.header {
  display: flex;
  justify-content: start;
  background: #ddd;
  border-radius: 15px 15px 0 0;
  height: 27px;
  column-gap: 10px;
  vertical-align: bottom;
  padding-top: 16px;
  padding-left: 16px;
}
.dot {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: rgb(0, 41, 177);
}
.image {
  width: 120px;
  height: auto;
  margin-top: 30px;
}
/* linha */
/* Reset */

.hr {
  position: absolute;
  height: 2px;
  background-color: rgb(0, 49, 209);
  width: 60%;
  transform: rotate(90deg);
  transform-origin: left top;
  left: 36px;
  top: 100px;
}
/* fim secao 7 */

@media (max-width: 768px){
    #sobre{
        right: 10%;
        left: 10%;
        top: 55%;
        font-size: 16px;
    }
    .imagem img {
        display: none;
    }
    #entenda {
        font-size: 150%;
        width: 48%;

    }
    .linha {
        left: 15%;
        top: 50%;
        width: 4px;
        height: 80%;
    }
    #logo{
      width: 23%;
    }
    #secao3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 90%;
        margin-bottom: 20px;
        height: 225px;
    }
    
    #secao6 {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        margin-top: 90px;
    }
    .card__content {
      height: 90%;

    }
    .card__title {
      margin-bottom: 40px;
      font-size: 2rem;
    }
    .card__description {
      font-size: 1.1rem;
    }
    #secao3 {
      padding: 9% 10%;
    }
    
    .objmeto{
      width: 220px;
    }
    .obj{
      left: 30%;
      top: 13%;
    }
    .meto{
      left: 55%;
      top: 65%;
    }
    .textObjmeto{
      width: 60%;
      font-size: 15px;
    }
    .titleObjmeto{
      font-size: 24px;
    }
    .textObj{
      left: 27%;
      top: 35%;
    }
    .titleObj{
      left: 27%;
      top: 30%;
    }
    .textMeto{
      left: 27%;
      top: 80%;
    }
    .titleMeto{
      left: 27%;
      top: 75%;
    }
    #linhaLateral{
      width: 5px;
    }
    #t2{
      left: 13%;
      top: 55%;
    }
    #secao5{
      height: 1300px;
    }
    #menino{
      display: none;
    }
    .texto2 {
      margin-left: 0px;
      
    }
    #textoAjuda {
      font-size: 130%;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    #tituloAjuda {
      font-size: 200%;
    }
}
