<div class="container" id="resultScroll">
    <div class="sidebar">
        <div class="search-box">
            <input type="text" class="search" placeholder="Pesquisar" id="pesquisar-acolhidos"
                oninput="pesquisarAcolhidos(this.value)" />
        </div>
        <div class="itens" id="resultado-pesquisa-acolhidos">

        </div>
        <script>
            function criarTextInput(id, label, value) {
                const div = document.createElement('div');
                div.classList.add('inputs-gerenc');
                const labelElement = document.createElement('label');
                labelElement.setAttribute('for', id);
                labelElement.textContent = label;
                const input = document.createElement('input');
                input.type = 'text';
                input.id = id;
                input.value = value || '';
                div.appendChild(labelElement);
                div.appendChild(input);
                return div;
            }

            function criarListInput(id, label, values = []) {
                const div = document.createElement('div');
                div.classList.add('inputs-gerenc');
                const labelElement = document.createElement('label');
                labelElement.setAttribute('for', id);
                labelElement.textContent = label;
                const input = document.createElement('div');
                input.classList.add('list-input');
                input.id = id;
                new ListInput(input, ...values);
                div.appendChild(labelElement);
                div.appendChild(input);
                return div;
            }

            function criarDateInput(id, label, value) {
                const div = document.createElement('div');
                div.classList.add('inputs-gerenc');
                const labelElement = document.createElement('label');
                labelElement.setAttribute('for', id);
                labelElement.textContent = label;
                const input = document.createElement('input');
                input.type = 'date';
                input.id = id;
                if (value) input.value = value;
                div.appendChild(labelElement);
                div.appendChild(input);
                return div;
            }

            function criarSelectInput(id, label, options = [], value = '') {
                const div = document.createElement('div');
                div.classList.add('inputs-gerenc');
                const labelElement = document.createElement('label');
                labelElement.setAttribute('for', id);
                labelElement.textContent = label;
                const select = document.createElement('select');
                select.classList.add("custom-select")
                select.id = id;
                options.forEach(opt => {
                    const option = document.createElement('option');
                    option.value = opt.value;
                    option.textContent = opt.label;
                    if (opt.value === `${value}`) option.selected = true;
                    select.appendChild(option);
                });
                div.appendChild(labelElement);
                div.appendChild(select);
                return div;
            }

            function criarRadioGroup(name, label, value, acolhido) {
                const checkDiv = document.createElement('div');
                checkDiv.id = `${name}-check`;
                checkDiv.classList.add('checkboxes');
                const h2 = document.createElement('h2');
                h2.classList.add('titulo-checks');
                h2.textContent = label;
                const divMaior = document.createElement('div');
                divMaior.classList.add('div-maior-input-radio');
                const radioDiv = document.createElement('div');
                radioDiv.classList.add('radio');

                let radioInputs = [];

                const msgsToBool = {
                    "Sim": true,
                    "Não": false
                };

                ['Sim', 'Não'].forEach(opt => {
                    const input = document.createElement('input');
                    input.type = 'radio';
                    input.id = `${name}-${opt.toLowerCase()}`;
                    input.className = `class-${name}-${opt.toLowerCase()}`;
                    input.name = name;
                    input.value = opt;
                    if (value === msgsToBool[opt]) input.checked = true;
                    const lbl = document.createElement('label');
                    lbl.setAttribute('for', input.id);
                    lbl.classList.add('conteudo-site');
                    lbl.textContent = opt;
                    radioDiv.appendChild(input);
                    radioDiv.appendChild(lbl);

                    if (name === 'esco') {
                        radioInputs.push(input);
                    }
                });

                divMaior.appendChild(radioDiv);

                let inputEsco;
                if (name === 'esco') {
                    const inputEscoDiv = document.createElement('div');
                    inputEscoDiv.classList.add('inputs-gerenc');

                    const labelEsco = document.createElement('label');
                    labelEsco.setAttribute('for', 'esco-nome');
                    labelEsco.textContent = 'Nome da escola';
                    labelEsco.id = 'esco-nome-label';
                    inputEscoDiv.appendChild(labelEsco);

                    inputEsco = document.createElement('input');
                    inputEsco.type = 'text';
                    inputEsco.value = acolhido?.fields?.escola?.nome || '';
                    labelEsco.style.display = (value === true) ? '' : 'none';
                    inputEsco.style.display = (value === true) ? '' : 'none';
                    inputEsco.id = 'esco-nome';
                    inputEscoDiv.appendChild(inputEsco);

                    divMaior.appendChild(inputEscoDiv);

                    radioInputs.forEach(input => {
                        input.addEventListener('change', () => {
                            if (input.value === 'Sim' && input.checked) {
                                labelEsco.style.display = '';
                                inputEsco.style.display = '';
                            } else if (input.value === 'Não' && input.checked) {
                                labelEsco.style.display = 'none';
                                inputEsco.style.display = 'none';
                            }
                        });
                    });
                }

                checkDiv.appendChild(h2);
                checkDiv.appendChild(divMaior);
                return checkDiv;
            }

            let cachedSearch;

            function criarItemAcolhido(acolhido) {
                const div = document.createElement('div');
                div.classList.add('item');
                const img = document.createElement('img');
                img.src = acolhido.fields.url_imagem ? `/api/acolhidos/${acolhido.id}?getImagem=true` : "/img/user-default.png";
                img.alt = acolhido.fields.nome || "Acolhido";
                div.appendChild(img);
                div.appendChild(document.createTextNode(acolhido.fields.nome || "Acolhido"));
                document.getElementById("resultado-pesquisa-acolhidos").appendChild(div);
                div.addEventListener("click", () => {
                    const contentDiv = document.querySelector('.box-content .content');
                    contentDiv.classList.remove('empty');

                    contentDiv.innerHTML = '';
                    const topContent = document.createElement('div');
                    topContent.classList.add('top-content');
                    const imgElement = document.createElement('img');
                    imgElement.src = acolhido.fields.url_imagem ? `/api/acolhidos/${acolhido.id}?getImagem=true` : "/img/user-default.png";
                    imgElement.alt = acolhido.fields.nome || "Acolhido";
                    const nameElement = document.createElement('h1');
                    nameElement.textContent = acolhido.fields.nome || "Acolhido";
                    topContent.appendChild(imgElement);
                    topContent.appendChild(nameElement);
                    contentDiv.appendChild(topContent);

                    const coluna1 = document.createElement('div');
                    coluna1.classList.add('coluna');
                    const coluna2 = document.createElement('div');
                    coluna2.classList.add('coluna');

                    const formContent = document.createElement('form');
                    formContent.classList.add('form-gerenc');
                    coluna1.appendChild(criarTextInput('nome', 'Nome', acolhido.fields.nome));
                    coluna2.appendChild(criarListInput('areas_interesse', 'Áreas de Interesse', acolhido.fields.interesses));
                    coluna2.appendChild(criarListInput('hiperfoco', 'Hiperfoco', acolhido.fields.hiperfoco));
                    coluna2.appendChild(criarTextInput('como_acalma', 'Como o autista se acalma?', acolhido.fields.como_acalma));
                    const data_nascimento = new Date(acolhido.fields.data_nascimento);
                    coluna1.appendChild(criarDateInput('data_nascimento', 'Data de Nascimento',
                        data_nascimento.toISOString().split('T')[0] // Formato YYYY-MM-DD
                    ));
                    coluna2.appendChild(criarListInput('atividades_nao_gosta', 'Atividades que o autista NÃO gosta', acolhido.fields.atividades_nao_gosta));
                    coluna2.appendChild(criarListInput('restricoes_alimentares', 'Restrições alimentares', acolhido.fields.restricoes_alimentares));
                    coluna1.appendChild(
                        criarSelectInput(
                            'nivel_suporte',
                            'Nível de suporte',
                            [
                                { value: '1', label: 'Nível 1' },
                                { value: '2', label: 'Nível 2' },
                                { value: '3', label: 'Nível 3' }
                            ],
                            acolhido.fields.nivel_suporte
                        )
                    );
                    coluna2.appendChild(criarTextInput('comida_favorita', 'Comida favorita', acolhido.fields.comida_favorita));
                    coluna1.appendChild(criarTextInput('convenio', 'Convênio ou SUS: Qual convênio?', acolhido.fields.convenio));
                    // coluna1.appendChild(criarTextInput('responsaveis', 'Nome dos responsáveis', acolhido.fields.responsaveis));
                    coluna2.appendChild(criarListInput('faz_terapia', 'Terapias que está fazendo', acolhido.fields.terapias.faz));
                    coluna2.appendChild(criarListInput('terapia_precisa', 'Qual terapia precisa e não faz?', acolhido.fields.terapias.precisa));

                    // Observações (textarea)
                    const obsDiv = document.createElement('div');
                    obsDiv.classList.add('inputs-gerenc', 'textarea');
                    const obsLabel = document.createElement('label');
                    obsLabel.textContent = 'Observações';
                    obsLabel.setAttribute('for', 'observacoes');
                    const obsTextarea = document.createElement('textarea');
                    obsTextarea.id = 'observacoes';
                    obsTextarea.value = acolhido.fields.observacoes || '';
                    obsDiv.appendChild(obsLabel);
                    obsDiv.appendChild(obsTextarea);
                    coluna2.appendChild(obsDiv);

                    // Radio groups
                    coluna1.appendChild(criarRadioGroup('esco', 'Frequenta escola?', Boolean(acolhido.fields.escola), acolhido));
                    coluna1.appendChild(criarRadioGroup('prof', 'Tem profissional de apoio na escola?', acolhido.fields.escola?.tem_suporte));
                    coluna1.appendChild(criarRadioGroup('cart', 'Tem carteirinha de identificação do autismo?', acolhido.fields.identificacoes.ciptea));
                    coluna1.appendChild(criarRadioGroup('cord', 'Usa o cordão de girassol ou quebra-cabeça?', acolhido.fields.identificacoes.cordao));
                    coluna1.appendChild(criarRadioGroup('vaga', 'Tem cartão para utilizar vaga de estacionamento exclusiva para autistas?', acolhido.fields.identificacoes.vaga_exclusiva));

                    // Controle da exibição da div de profissional de apoio
                    const escoSim = coluna1.querySelector('input[name="esco"][value="Sim"]');
                    const escoNao = coluna1.querySelector('input[name="esco"][value="Não"]');
                    const divProf = coluna1.querySelector('#prof-check');

                    function updateProfDisplay() {
                        if (escoSim && escoSim.checked) {
                            divProf.style.display = '';
                        } else {
                            divProf.style.display = 'none';
                        }
                    }

                    if (escoSim && escoNao && divProf) {
                        escoSim.addEventListener('change', updateProfDisplay);
                        escoNao.addEventListener('change', updateProfDisplay);
                        updateProfDisplay();
                    }

                    formContent.appendChild(coluna1);
                    formContent.appendChild(coluna2);

                    // Botões de ação
                    const actionDiv = document.createElement('div');
                    actionDiv.classList.add('aceitar-recusar');
                    const salvarBtn = document.createElement('button');
                    salvarBtn.id = 'aceitar-gerenc';
                    salvarBtn.type = 'button';
                    salvarBtn.textContent = 'Salvar';
                    salvarBtn.addEventListener("click", () => {
                        Swal.fire({
                            title: 'Salvar Acolhido',
                            text: "Você tem certeza que deseja salvar as alterações?",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Sim, salvar!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                const formData = new FormData();
                                formData.append("nome", document.getElementById('nome').value);
                                formData.append("interesses", JSON.stringify(document.getElementById('areas_interesse').value));
                                formData.append("hiperfoco", JSON.stringify(document.getElementById('hiperfoco').value));
                                formData.append("como_acalma", document.getElementById('como_acalma').value);
                                formData.append("data_nascimento", document.getElementById('data_nascimento').value);
                                formData.append("atividades_nao_gosta", JSON.stringify(document.getElementById('atividades_nao_gosta').value));
                                formData.append("restricoes_alimentares", JSON.stringify(document.getElementById('restricoes_alimentares').value));
                                formData.append("nivel_suporte", document.getElementById('nivel_suporte').value);
                                formData.append("comida_favorita", document.getElementById('comida_favorita').value);
                                formData.append("convenio", document.getElementById('convenio').value);
                                formData.append("terapia", JSON.stringify({
                                    faz: document.getElementById('faz_terapia').value,
                                    precisa: document.getElementById('terapia_precisa').value
                                }));
                                formData.append("observacoes", document.getElementById('observacoes').value);
                                formData.append("identificacoes", JSON.stringify({
                                    ciptea: document.querySelector('input[name="cart"]:checked')?.value === 'Sim',
                                    cordao: document.querySelector('input[name="cord"]:checked')?.value === 'Sim',
                                    vaga_exclusiva: document.querySelector('input[name="vaga"]:checked')?.value === 'Sim'
                                }));
                                formData.append("escola", JSON.stringify(escoSim.checked ? {
                                    nome: document.getElementById('esco-nome').value,
                                    tem_suporte: document.querySelector('input[name="prof"]:checked')?.value === 'Sim'
                                } : null));
                                fetch("/api/acolhidos/" + acolhido.id, {
                                    method: "PATCH",
                                    body: formData,
                                }).then(resp => resp.json()).then(json => {
                                    if (json.status === "error") {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Houve um erro...',
                                            text: json.message || 'Erro ao salvar acolhido.'
                                        });
                                    } else {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Sucesso!',
                                            text: 'Acolhido salvo com sucesso!'
                                        });
                                        cachedSearch = undefined;
                                        acolhido.fields = json.fields;
                                        const d = new Date();
                                        imgElement.src = acolhido.fields.url_imagem ? `/api/acolhidos/${acolhido.id}?getImagem=true&t=${d.toISOString()}` : "/img/user-default.png";
                                        img.src = acolhido.fields.url_imagem ? `/api/acolhidos/${acolhido.id}?getImagem=true&t=${d.toISOString()}` : "/img/user-default.png";
                                        nameElement.textContent = acolhido.fields.nome || "Acolhido";
                                        div.textContent = acolhido.fields.nome || "Acolhido";
                                    }
                                })
                            }
                        });
                    });
                    const excluirBtn = document.createElement('button');
                    excluirBtn.id = 'recusar-gerenc';
                    excluirBtn.type = 'button';
                    excluirBtn.textContent = 'Excluir';
                    excluirBtn.addEventListener("click", () => {
                        Swal.fire({
                            title: 'Tem certeza?',
                            text: "Você não poderá reverter essa ação!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            cancelButtonColor: '#3085d6',
                            confirmButtonText: 'Sim, excluir!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                fetch("/api/acolhidos/" + acolhido.id, {
                                    method: "DELETE",
                                }).then(resp => resp.json()).then(json => {
                                    if (json.status === "error") {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Houve um erro...',
                                            text: json.message || 'Erro ao excluir acolhido.'
                                        });
                                    } else {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Sucesso!',
                                            text: 'Acolhido excluído com sucesso!'
                                        });
                                        div.remove();
                                        contentDiv.classList.add("empty");
                                        contentDiv.innerHTML = "";
                                        cachedSearch = undefined;
                                    }
                                })
                            }
                        })
                    })
                    actionDiv.appendChild(salvarBtn);
                    actionDiv.appendChild(excluirBtn);
                    formContent.appendChild(actionDiv);

                    // Adicionar documento
                    const addDocDiv = document.createElement('div');
                    addDocDiv.classList.add('add');
                    const addDocTitle = document.createElement('h3');
                    addDocTitle.textContent = 'Adicionar documento';
                    const addDocInput = document.createElement('input');
                    addDocInput.type = 'file';
                    addDocInput.classList.add('campo-file');
                    const addDocBtn = document.createElement('button');
                    addDocBtn.addEventListener("click", () => {
                        const doc = addDocInput.files[0];
                        if (doc) {
                            const fd = new FormData();
                            fd.append("blob", doc);
                            fd.append("nome", "Documento de " + acolhido.fields.nome);
                            fd.append("descricao", `Adicionado em ${new Date()}`);
                            fetch("/api/acolhidos/" + acolhido.id, {
                                method: "POST",
                                body: fd,
                                headers: {
                                    ["x-acolhido-docs"]: "true",
                                }
                            }).then(resp => resp.json()).then(json => {
                                if (json.status === "error") {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Houve um erro...',
                                        text: json.message || 'Erro ao enviar documento.'
                                    });
                                } else {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Sucesso!',
                                        text: 'Documento enviado com sucesso!'
                                    });
                                    addDocInput.value = "";
                                    criarDocumento(json);
                                }
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Erro',
                                text: 'Nenhum documento selecionado.'
                            });
                            
                        }
                    });
                    addDocBtn.type = 'button';
                    addDocBtn.textContent = 'Enviar';
                    addDocDiv.appendChild(addDocTitle);
                    addDocDiv.appendChild(addDocInput);
                    addDocDiv.appendChild(addDocBtn);
                    formContent.appendChild(addDocDiv);

                    // Adicionar foto
                    const addFotoDiv = document.createElement('div');
                    addFotoDiv.classList.add('add');
                    const addFotoTitle = document.createElement('h3');
                    addFotoTitle.textContent = acolhido.fields.url_imagem ? "Alterar foto" : 'Adicionar foto';
                    const addFotoInput = document.createElement('input');
                    addFotoInput.type = 'file';
                    addFotoInput.accept = "image/*";
                    addFotoInput.classList.add('campo-file');
                    const addFotoBtn = document.createElement('button');
                    addFotoBtn.addEventListener("click", () => {
                        const foto = addFotoInput.files[0];
                        if (foto) {
                            const fd = new FormData();
                            fd.append("blob", foto);
                            fetch("/api/acolhidos/" + acolhido.id, {
                                method: "PATCH",
                                body: fd,
                            }).then(resp => resp.json()).then(json => {
                                if (json.status === "error") {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Houve um erro...',
                                        text: json.message || 'Erro ao enviar foto.'
                                    });
                                } else {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Sucesso!',
                                        text: 'Foto enviada com sucesso!'
                                    });
                                    const d = new Date();
                                    imgElement.src = `/api/acolhidos/${acolhido.id}?getImagem=true&t=${d.toISOString()}`;
                                    img.src = `/api/acolhidos/${acolhido.id}?getImagem=true&t=${d.toISOString()}`;
                                }
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Erro',
                                text: 'Nenhuma foto selecionada.'
                            });
                        }
                    });
                    addFotoBtn.type = 'button';
                    addFotoBtn.textContent = 'Enviar';
                    addFotoDiv.appendChild(addFotoTitle);
                    addFotoDiv.appendChild(addFotoInput);
                    addFotoDiv.appendChild(addFotoBtn);
                    formContent.appendChild(addFotoDiv);

                    const docsContainer = document.createElement('div');
                    docsContainer.style.gridColumn = "1 / span 2";

                    const h2docs = document.createElement('h2');
                    h2docs.textContent = "Documentos";
                    h2docs.classList.add('titulo-checks');
                    docsContainer.appendChild(h2docs);

                    let docs;
                    const docsDiv = document.createElement('div');
                    docsDiv.classList.add('docs-list');
                    docsDiv.innerHTML = `
                        <div style="display: flex; justify-content: center; width: 100%;">
                            <div class="loader"></div>
                        </div>
                    `
                    docsContainer.appendChild(docsDiv);
                    formContent.appendChild(docsContainer);
                    fetch("/api/acolhidos/" + acolhido.id, {
                        headers: {
                            ["x-acolhido-docs"]: "true",
                        }
                    }).then(resp => resp.json()).then(json => {
                        docs = json;

                        docsDiv.innerHTML = "";
                        for (const documento of docs) {
                            criarDocumento(documento);
                        }
                    })

                    contentDiv.appendChild(formContent);

                    function criarDocumento(documento) {
                        const containerDoc = document.createElement('div');
                        containerDoc.classList.add('membro-row');
                        const leftSide = document.createElement('div');
                        leftSide.classList.add('left-side');
                        const leftSide1 = document.createElement('div');
                        leftSide1.innerHTML = `<i class="fa fa-file-alt" style="font-size: 2em; color: #1535B5; cursor: pointer;"></i>`;
                        leftSide1.addEventListener("click", () => {
                            window.open(`/api/acolhidos/${acolhido.id}?doc=${documento.id}`);
                        });
                        leftSide.appendChild(leftSide1);
                        const leftSide2 = document.createElement('div');
                        const pNome = document.createElement('p');
                        pNome.classList.add("titulo-row")
                        pNome.textContent = documento.fields.nome || "Documento sem nome";
                        const pDescricao = document.createElement('p');
                        pDescricao.textContent = documento.fields.descricao || "Documento sem descrição";
                        leftSide2.appendChild(pNome);
                        leftSide2.appendChild(pDescricao);
                        leftSide.appendChild(leftSide2);
                        containerDoc.appendChild(leftSide);

                        const rightSide = document.createElement('div');
                        rightSide.classList.add('right-side');
                        const editBtn = document.createElement('button');
                        editBtn.type = 'button';
                        editBtn.classList.add('edit-doc-btn');
                        editBtn.innerHTML = '<i class="fa fa-edit"></i>';
                        editBtn.addEventListener("click", () => {
                            Swal.fire({
                                title: 'Editar Documento',
                                html: `
                                <div class="modal-container">
                                    <input class="modal-input" type="text" id="doc-edit-nome" class="swal2-input" placeholder="Nome do documento" value="${documento.fields.nome || ''}">
                                    <textarea class="modal-textarea" id="doc-edit-descricao" class="swal2-textarea" placeholder="Descrição">${documento.fields.descricao || ''}</textarea>
                                    <input class="modal-file" type="file" id="doc-edit-file" class="swal2-file" accept="application/pdf,image/*">
                                </div>
                                `,
                                focusConfirm: false,
                                preConfirm: () => {
                                    const fd = new FormData();
                                    const nome = document.getElementById('doc-edit-nome').value;
                                    const descricao = document.getElementById('doc-edit-descricao').value;
                                    const file = document.getElementById('doc-edit-file').files[0];
                                    if (!nome) {
                                        Swal.showValidationMessage('O nome do documento é obrigatório');
                                        return false;
                                    }
                                    fd.append('nome', nome);
                                    fd.append('descricao', descricao);
                                    if (file) {
                                        fd.append('blob', file);
                                    }
                                    return fd;
                                }
                            }).then(result => {
                                if (result.isConfirmed) {
                                    const fd = result.value;
                                    fetch(`/api/acolhidos/${acolhido.id}/${documento.id}`, {
                                        method: "PATCH",
                                        headers: {
                                            ["x-acolhido-docs"]: "true"
                                        },
                                        body: fd
                                    }).then(resp => resp.json()).then(json => {
                                        if (json.status === "error") {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Houve um erro...',
                                                text: json.message || 'Erro ao editar documento.'
                                            });
                                        } else {
                                            Swal.fire({
                                                icon: 'success',
                                                title: 'Sucesso!',
                                                text: 'Documento editado com sucesso!'
                                            });
                                            pNome.textContent = json.fields.nome || "Documento sem nome";
                                            pDescricao.textContent = json.fields.descricao || "Documento sem descrição";
                                        }
                                    })
                                }
                            })
                        });

                        const deleteBtn = document.createElement('button');
                        deleteBtn.type = 'button';
                        deleteBtn.classList.add('delete-doc-btn');
                        deleteBtn.innerHTML = '<i class="fa fa-trash"></i>';
                        deleteBtn.addEventListener("click", () => {
                            Swal.fire({
                                title: 'Tem certeza?',
                                text: "Você não poderá reverter essa ação!",
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#d33',
                                cancelButtonColor: '#3085d6',
                                confirmButtonText: 'Sim, excluir!'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    fetch(`/api/acolhidos/${acolhido.id}/${documento.id}`, {
                                        method: "DELETE",
                                        headers: {
                                            ["x-acolhido-docs"]: "true"
                                        }
                                    }).then(resp => resp.json()).then(json => {
                                        if (json.status === "error") {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Houve um erro...',
                                                text: json.message || 'Erro ao excluir documento.'
                                            });
                                        } else {
                                            Swal.fire({
                                                icon: 'success',
                                                title: 'Sucesso!',
                                                text: 'Documento excluído com sucesso!'
                                            });
                                            containerDoc.remove();
                                        }
                                    })
                                }
                            })
                        });

                        rightSide.appendChild(editBtn);
                        rightSide.appendChild(deleteBtn);
                        containerDoc.appendChild(rightSide);

                        docsDiv.appendChild(containerDoc);
                    }
                });
            }

            async function pesquisarAcolhidos() {
                const searchInput = document.getElementById('pesquisar-acolhidos');
                if (!cachedSearch) cachedSearch = await (await fetch("/api/acolhidos")).json();
                document.getElementById("resultado-pesquisa-acolhidos").innerHTML = '';
                for (const acolhido of cachedSearch) {
                    if (acolhido?.fields?.nome?.toLowerCase?.()?.includes(searchInput.value.toLowerCase()) || !searchInput.value) {
                        criarItemAcolhido(acolhido);
                    }
                }
            }
            document.getElementById("option-switch-acolhidos").addEventListener("click", pesquisarAcolhidos);
        </script>
    </div>

    <div class="box-content">
        <div class="content empty">
            <!-- <div class="top-content">
                <img src="/img/user-default.png" alt="">
                <h1>Lucas</h1>
            </div>
            <form action="" class="form-gerenc">
                <div class="inputs-gerenc">
                    <label for="">Nome</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Áreas de Interesse</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Telefone</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Hiperfoco</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">E-mail</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Como o autista se acalma?</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Data de Nascimento</label>
                    <input type="date">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Atividades que o autista NÃO gosta</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Família</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Restrições alimentares</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Nível de suporte</label>
                    <select name="" id="select-nv-suporte">
                        <option value="">Nível 1</option>
                        <option value="">Nível 2</option>
                        <option value="">Nível 3</option>
                    </select>
                </div>

                <div class="inputs-gerenc">
                    <label for="">Comida favorita</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Escola</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Convênio ou SUS: Qual convênio?</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Nome dos responsáveis</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Faz terapia?</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Qual terapia precisa e não faz?</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc textarea">
                    <label for="">Observações</label>
                    <textarea name="" id=""></textarea>
                </div>

                <div class="checkbox-div">
                    <div class="checkboxes">
                        <h2 class="titulo-checks">Tem carteirinha de identificação do autismo?</h2>
                        <div class="div-maior-input-radio">
                            <div class="radio">
                                <input type="radio" id="cart-sim" name="cart" value="Sim">
                                <label for="cart-sim" class="conteudo-site">Sim</label>

                                <input type="radio" id="cart-nao" name="cart" value="Não">
                                <label for="cart-nao" class="conteudo-site">Não</label>
                            </div>
                        </div>
                    </div>

                    <div class="checkboxes">
                        <h2 class="titulo-checks">Usa o cordão de girassol ou quebra-cabeça?</h2>
                        <div class="div-maior-input-radio">
                            <div class="radio">
                                <input type="radio" id="cord-sim" name="cord" value="Sim">
                                <label for="cord-sim" class="conteudo-site">Sim</label>

                                <input type="radio" id="cord-nao" name="cord" value="Não">
                                <label for="cord-nao" class="conteudo-site">Não</label>
                            </div>
                        </div>
                    </div>

                    <div class="checkboxes">
                        <h2 class="titulo-checks">Tem cartão para utilizar vaga de estacionamento exclusiva para
                            autistas?</h2>
                        <div class="div-maior-input-radio">
                            <div class="radio">
                                <input type="radio" id="vaga-sim" name="vaga" value="Sim">
                                <label for="vaga-sim" class="conteudo-site">Sim</label>

                                <input type="radio" id="vaga-nao" name="vaga" value="Não">
                                <label for="vaga-nao" class="conteudo-site">Não</label>
                            </div>
                        </div>
                    </div>

                    <div class="checkboxes">
                        <h2 class="titulo-checks">Se criança, tem profissional de apoio na escola?</h2>
                        <div class="div-maior-input-radio">
                            <div class="radio">
                                <input type="radio" id="prof-sim" name="prof" value="Sim">
                                <label for="prof-sim" class="conteudo-site">Sim</label>

                                <input type="radio" id="prof-nao" name="prof" value="Não">
                                <label for="prof-nao" class="conteudo-site">Não</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="aceitar-recusar">
                    <button id="aceitar-gerenc">Salvar</button>
                    <button id="recusar-gerenc">Excluir</button>
                </div>

                <div class="add">
                    <h3>Adicionar documento</h3>
                    <input type="file" class="campo-file">
                    <button>Enviar</button>
                </div>

                <div class="add">
                    <h3>Adicionar foto</h3>
                    <input type="file" class="campo-file">
                    <button>Enviar</button>
                </div>
            </form> -->
        </div>
    </div>
</div>
<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #1535B5;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin: auto 24px;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>