<div class="container cont-adm" id="resultScroll">
    <div class="sidebar">
        <div class="search-box">
            <input type="text" class="search" placeholder="Pesquisar" />
        </div>
        <div class="itens">
            <div class="item"><img src="/img/user-default.png" alt="">Simone</div>
            <div class="item"><img src="/img/user-default.png" alt="">Carol</div>
            <div class="item"><img src="/img/user-default.png" alt="">Sol</div>
            <div class="item"><img src="/img/user-default.png" alt="">Admin 4</div>
            <div class="item"><img src="/img/user-default.png" alt="">Admin 5</div>
            <div class="item"><img src="/img/user-default.png" alt="">Admin 6</div>
            <div class="item"><img src="/img/user-default.png" alt="">Admin 7</div>
            <div class="item"><img src="/img/user-default.png" alt="">Admin 8</div>
        </div>
    </div>

    <div class="box-content">
        <div class="content">
            <div class="top-content">
                <img src="/img/user-default.png" alt="">
                <h1>Simone</h1>
            </div>
            <form action="" class="form-gerenc">
                <div class="inputs-gerenc">
                    <label for="">Nome</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Email</label>
                    <input type="text">
                </div>
            </form>
        </div>
    </div>
</div>