<div class="container">
    <div class="sidebar">
        <div class="search-box">
            <input type="text" class="search" placeholder="Pesquisar" />
        </div>
        <div class="itens">
            <div class="item">Simone</div>
            <div class="item">Admin 2</div>
            <div class="item">Admin 3</div>
            <div class="item">Admin 4</div>
            <div class="item">Admin 5</div>
        </div>
    </div>

    <div class="box-content">
        <div class="content">
            <h1>Simone</h1>
            <form action="" class="form-gerenc">
                <div class="inputs-gerenc">
                    <label for="">Nome</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Email</label>
                    <input type="text">
                </div>

                <a href="">Alterar senha</a>

                <div class="aceitar-recusar">
                    <button id="aceitar-gerenc">Salvar</button>
                    <button id="recusar-gerenc">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>