<div class="container" id="resultScroll">
    <div class="sidebar">
        <div class="search-box">
            <input type="text" class="search" placeholder="Pesquisar" />
        </div>
        <div class="itens">
            <div class="item">Família SmartWeb</div>
            <div class="item">Família 2</div>
            <div class="item">Família 3</div>
            <div class="item">Família 4</div>
            <div class="item">Família 5</div>
        </div>
    </div>

    <div class="box-content">
        <div class="content">
            <h1>Família SmartWeb</h1>
            <form action="" class="form-familias">
                <div class="membros-familia">
                    <h2>Nesta família</h2>
                    <div class="membro-row">
                        <div class="row-div-nome">
                            <p class="titulo-row">Nome</p>
                            <p id="nome-membro">Gabriel Reis de Brito</p>
                        </div>

                        <div class="row-div-laudo">
                            <p class="titulo-row">Laudo</p>
                            <select name="" id="select-laudo">
                                <option value="">Não</option>
                                <option value="">Sim</option>
                                <option value="">Em investigação</option>
                                <option value="">Neurotípico</option>
                            </select>
                        </div>

                        <!-- <div id="botoes-row">
                            <button id="salvar-row">Salvar</button>
                            <button id="excluir-row">Excluir</button>
                        </div> -->
                    </div>

                    <div class="membro-row">
                        <div class="row-div-nome">
                            <p class="titulo-row">Nome</p>
                            <p id="nome-membro">Isadora</p>
                        </div>

                        <div class="row-div-laudo">
                            <p class="titulo-row">Laudo</p>
                            <select name="" id="select-laudo">
                                <option value="">Não</option>
                                <option value="">Sim</option>
                                <option value="">Em investigação</option>
                                <option value="">Neurotípico</option>
                            </select>
                        </div>

                        <!-- <div id="botoes-row">
                            <button id="salvar-row">Salvar</button>
                            <button id="excluir-row">Excluir</button>
                        </div> -->
                    </div>
                </div>

                <div class="info-familia">
                    <h2>Mais informações</h2>
                    
                    <label for="">Endereço</label>
                    <input type="text">

                    <p>Não acolhidos: 2</p>
                    <p>Residentes em investigação: 1</p>
                    <p>Residentes com laudo: 3</p>
                </div>

                <!-- <div class="aceitar-recusar">
                    <button id="recusar-gerenc">Excluir família</button>
                </div> -->
            </form>
        </div>
    </div>
</div>