<section class="section-familias" id="secao3">
    <div class="lista-info-usuario">
        <span class="span-selecione conteudo-site">Selecione:</span>
        <div class="acolhido-opcao-lista" id="usuariosLista">
            <div class="opcao-lista conteudo-site">Família SmartWeb</div>
            <div class="opcao-lista conteudo-site">Família 2</div>
            <div class="opcao-lista conteudo-site">Família 3</div>
            <div class="opcao-lista conteudo-site">Família 4</div>
            <div class="opcao-lista conteudo-site">Família 5</div>
        </div>
    </div>

    <div class="form-container">
        <div class="form-cabecalho">
            <h2 class="conteudo-site">Família SmartWeb</h2>
        </div>

        <h3 class="subtitulo-familias conteudo-site">Acolhidos da família:</h3>
        <div class="users-familia">
            <div class="acolhido-card">
                <img src="/img/user-default.png" class="img-user-default" alt="">
                <p class="conteudo-site">Lucas</p>
            </div>
            <div class="acolhido-card">
                <img src="/img/user-default.png" class="img-user-default" alt="">
                <p class="conteudo-site">Acolhido 2</p>
            </div>
            <div class="acolhido-card">
                <img src="/img/user-default.png" class="img-user-default" alt="">
                <p class="conteudo-site">Acolhido 3</p>
            </div>
            <div class="acolhido-card">
                <img src="/img/user-default.png" class="img-user-default" alt="">
                <p class="conteudo-site">Acolhido 4</p>
            </div>
        </div>

        <h3 class="subtitulo-familias conteudo-site">Residentes (outros):</h3>
        <div class="residente-linha">
            <div class="residente-info">
                <div class="foto-nomeResidente">
                    <img src="/img/user-default.png" class="img-user-default" alt="">
                    <span class="conteudo-site">Residente 5</span>
                </div>
                <select>
                    <option class="conteudo-site">Selecione...</option>
                    <option class="conteudo-site">Sim</option>
                    <option class="conteudo-site">Não</option>
                    <option class="conteudo-site">Em investigação</option>
                    <option class="conteudo-site">Neurotípico</option>
                </select>
                <div class="botoes-acoes">
                    <button class="btn-editar conteudo-site">Editar</button>
                    <button class="btn-excluir conteudo-site">Excluir</button>
                </div>
            </div>
        </div>
        <div class="residente-linha">
            <div class="residente-info">
                <div class="foto-nomeResidente">
                    <img src="/img/user-default.png" class="img-user-default" alt="">
                    <span class="conteudo-site">Residente 6</span>
                </div>
                <select>
                    <option class="conteudo-site">Selecione...</option>
                    <option class="conteudo-site">Sim</option>
                    <option class="conteudo-site">Não</option>
                    <option class="conteudo-site">Em investigação</option>
                    <option class="conteudo-site">Neurotípico</option>
                </select>
                <div class="botoes-acoes">
                    <button class="btn-editar conteudo-site">Editar</button>
                    <button class="btn-excluir conteudo-site">Excluir</button>
                </div>
            </div>
        </div>

        <div class="div-btn-adicionar">
            <button class="btn-adicionar conteudo-site">Adicionar residente</button>
        </div>

        <h3 class="mais-informacoes conteudo-site">Mais informações:</h3>
        <div class="label-input2 conteudo-site">
            <label>Endereço:</label>
            <input type="text" />
        </div>

        <div class="mais-infomracoes-desc">
            <p class="conteudo-site">Não acolhidos: <strong>2</strong></p>
            <p class="conteudo-site">Residentes em investigação: <strong>1</strong></p>
            <p class="conteudo-site">Residentes com laudo: <strong>3</strong></p>
        </div>
    </div>
</section>