<link rel="stylesheet" href="/css/relatorios.css">

<div class="box-relatorios" id="resultScroll">
    <h1>Relatórios</h1>
    <div class="listagem-relatorios">
        <div class="alteracao">
            <div id="pessoa">
                <img src="/img/user-default.png" alt="">
                <h2>Carol</h2>
            </div>

            <div id="acao">
                <p>Voltou por cima</p>
            </div>

            <div id="data">
                <p>27/05/2025</p>
                <p>14:28</p>
            </div>
        </div>

        <div class="alteracao">
            <div id="pessoa">
                <img src="/img/user-default.png" alt="">
                <h2>Simone</h2>
            </div>

            <div id="acao">
                <p>Removeu Carol de administrador e apagou o banco de dados</p>
            </div>

            <div id="data">
                <p>25/05/2025</p>
                <p>10:20</p>
            </div>
        </div>

        <div class="alteracao">
            <div id="pessoa">
                <img src="/img/user-default.png" alt="">
                <h2>Carol</h2>
            </div>

            <div id="acao">
                <p>Voltou por cima</p>
            </div>

            <div id="data">
                <p>27/05/2025</p>
                <p>14:28</p>
            </div>
        </div>

        <div class="alteracao">
            <div id="pessoa">
                <img src="/img/user-default.png" alt="">
                <h2>Simone</h2>
            </div>

            <div id="acao">
                <p>Removeu Carol de administrador e apagou o banco de dados</p>
            </div>

            <div id="data">
                <p>25/05/2025</p>
                <p>10:20</p>
            </div>
        </div>

        <div class="alteracao">
            <div id="pessoa">
                <img src="/img/user-default.png" alt="">
                <h2>Carol</h2>
            </div>

            <div id="acao">
                <p>Voltou por cima</p>
            </div>

            <div id="data">
                <p>27/05/2025</p>
                <p>14:28</p>
            </div>
        </div>

        <div class="alteracao">
            <div id="pessoa">
                <img src="/img/user-default.png" alt="">
                <h2>Simone</h2>
            </div>

            <div id="acao">
                <p>Removeu Carol de administrador e apagou o banco de dados</p>
            </div>

            <div id="data">
                <p>25/05/2025</p>
                <p>10:20</p>
            </div>
        </div>

        
        <div class="alteracao">
            <div id="pessoa">
                <img src="/img/user-default.png" alt="">
                <h2>Carol</h2>
            </div>

            <div id="acao">
                <p>Voltou por cima</p>
            </div>

            <div id="data">
                <p>27/05/2025</p>
                <p>14:28</p>
            </div>
        </div>

        <div class="alteracao">
            <div id="pessoa">
                <img src="/img/user-default.png" alt="">
                <h2>Simone</h2>
            </div>

            <div id="acao">
                <p>Removeu Carol de administrador e apagou o banco de dados</p>
            </div>

            <div id="data">
                <p>25/05/2025</p>
                <p>10:20</p>
            </div>
        </div>
    </div>
</div>