<div class="container">
    <div class="sidebar">
        <div class="search-box">
            <input type="text" class="search" placeholder="Pesquisar" />
        </div>
        <div class="itens">
            <div class="item">Ana Lívia</div>
            <div class="item">Voluntário 2</div>
            <div class="item">Voluntário 3</div>
            <div class="item">Voluntário 4</div>
            <div class="item">Voluntário 5</div>
        </div>
    </div>

    <div class="box-content">
        <div class="content">
            <h1>Ana Lívia</h1>
            <form action="" class="form-gerenc">
                <div class="inputs-gerenc">
                    <label for="">Nome</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">CPF</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Email</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Telefone</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Como quer ajudar?</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc">
                    <label for="">Outro tipo de ajuda</label>
                    <input type="text">
                </div>

                <div class="inputs-gerenc textarea">
                    <label for="">Por que quer ser voluntário?</label>
                    <textarea name="" id=""></textarea>
                </div>

                <div class="aceitar-recusar">
                    <button id="aceitar-gerenc">Aceitar</button>
                    <button id="recusar-gerenc">Recusar</button>
                </div>
            </form>
        </div>
    </div>
</div>