
    <div id="acessibilidade" class="container-acessibilidade">
        <div id="acess" onclick="mostrarBotoes()">
            <i class="fa-solid fa-eye"></i>
        </div>

        <div class="botoes-fonte" id="botoesFonte">
            <button onclick="alterarFonte('a')">+</button>
            <button id="padrao" onclick="alterarFonte('n')">Padrão</button>
            <button onclick="alterarFonte('d')">-</button>
        </div>

        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>

    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

<!-- <script>
    function mostrarBotoes() {
    const botoes = document.getElementById('botoesFonte');
    botoes.style.display = botoes.style.display === 'flex' ? 'none' : 'flex';
}

function alterarFonte(acao) {
    var corpo = document.querySelector('.conteudo-site');
    var tamanhoAtual = parseFloat(window.getComputedStyle(corpo, null).getPropertyValue('font-size'));

    if (acao === 'a') {
        corpo.style.fontSize = (tamanhoAtual + 2) + "px";
    } else if (acao === 'd') {
        corpo.style.fontSize = (tamanhoAtual - 2) + "px";
    } else if (acao === 'n') {
        corpo.style.fontSize = "16px";
    }
}
</script> -->

<!-- <style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.container-acessibilidade {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: fixed;
    top: 256px;
    right: 10px;
    gap: 5px;
    z-index: 999;
}

#acess {
    margin-left: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #3084ee;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#acess .fa-solid {
    text-shadow: 1px 1px 1px rgb(114, 113, 113);
    font-size: 18px;
    color: white;
}

.botoes-fonte {
    display: none;
    flex-direction: row-reverse;
    gap: 5px;
}

.botoes-fonte button {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 47px;
    height: 30px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: #3084ee;
    color: white;
    border-radius: 5px;
}
 #padrao{
    font-size: 12px;
}

.conteudo-site {
    margin: 100px 20px;
    font-size: 16px;
}
</style> -->

